<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>document</title>
  <script src="lib/vue.js"></script>
  <link rel="stylesheet" href="lib/bootstrap-3.3.7.css">
  <style>
    .v-enter,
    .v-leave-to{
      opacity: 0;
      transform: translate(0,-60px);
    }
    .v-enter-active,
    .v-leave-active{
      transition: all 0.5s ease-in;
      width: 100%;
    }


  </style>
</head>
<body>
  <div id="app">

		<cmt-box @func="loadComments"></cmt-box>

    <transition-group tag="ul"  class="list-group" mode="out-in">
      <li class="list-group-item" v-for="item in list" :key="item.id">
      <span class="badge">评论人： {{ item.user }}</span>
      {{ item.content }}
      </li>
    </transition-group>


	</div>


	<template id="temp1">
		<div>

			<div class="form-group">
				<label>评论人：</label>
				<input type="text" class="form-control" v-model="user">
			</div>

			<div class="form-group">
				<label>评论内容：</label>
				<textarea class="form-control" v-model="content"></textarea>
			</div>

			<div class="form-group">
				<input type="button" value="发表评论" class="btn btn-primary" @click="sent">
			</div>
	
		</div>
	</template>

<script>

  var commentBox = {
    template: '#temp1',
    data(){
      return {
        user: '',
        content: ''
      }
    },
    methods: {
      sent(){

        if(this.user != '' && this.content != '' ){
          var comment = { id: Date.now(), user: this.user, content: this.content} || {} ;

          var listLocal = JSON.parse(localStorage.getItem('cmts') || '[]');

          listLocal.unshift(comment)

          localStorage.setItem('cmts',JSON.stringify(listLocal));

          this.$emit('func');
          this.user = this.content = '';
        }
      }
    }
  }

  var vm = new Vue({
    el: "#app",
    data: {
      list: [
          { id: Date.now(), user: '李白', content: '天生我材必有用' },
          { id: Date.now(), user: '江小白', content: '劝君更尽一杯酒' },
          { id: Date.now(), user: '小马', content: '我姓马， 风吹草低见牛羊的马' }
        ]
    },
    methods: {
      loadComments(){
        this.list = JSON.parse(localStorage.getItem('cmts') ) || this.list;
      }
    },
    created() {
      this.loadComments();
    },
    filters: {
    },
    components: {
      'cmt-box': commentBox
    }
  })
</script>
</body>
</html>